/*Psst. This is how you comment stuff out. Like secret messages.
it can be however lines you want as long as it's withink the...
astrisk and slash combo.*/
body {
	color: #2b375b; /*this is the font colour*/
	font-family: Arial, Helvetica, sans-serif; /*font used for all the text in
												the body*/
	background: url(White_Texture.png); /*this is the background pattern*/
}
p {
	color: #444;
}
.shapes h2 {
	color: #222;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed rgba(00,00,00, .3);
}
.shapes p {
	width: 290px;   /*screw around with the width and see what happens*/
	padding: 10px;  /*screw around with this too*/
	background: #eee;   
	border: 1px solid rgba(00,00,00, .1); 
}
.square1,
.circle1,
.fancy1 {
	margin: 10px;   
	 				 /*10px applies to TOP, RIGHT, BOTTOM, and LEFT
						P.S. engrave that pattern in your head,
						it shows up everywhere.*/
				    /*can also be written out 10px 10px 10px 10px
				      (but who really wants to do that? Not me.)*/
}
.square1 {
	background: black; /*colours can be written out in a variety of ways*/
	height: 30px;
	width: 30px;
}
.circle1 {
	background: #000; /*this is hex version. usually has 6 digits but if
						they're all the same (in this case, black, all
						zeros), then you can split it in two*/
	height: 35px;
	width: 35px;
	border-radius: 100%;
}
.fancy1,
.fancy2 {
	position: absolute;
	padding: 10px;
	text-align: center;
	text-decoration: none; /*This gets rid of that default text underline
							 for links.*/
}
.fancy1 {
	color: white;
	background: #3f5187;
	width: 100px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px 0px rgba(00,00,00, .6);
}
.fancy1:hover {
	background: #566cad; /*:hover for when a mouse hovers over it, dur*/
}
.fancy1:active {
	background: #3f5187; /*:active for when you click, and
							"activate" the hooker*/
}
.fancy2 {
	color: #3f5187;
	left: 150px;
}
.fancy2:hover {
	color: #566cad;
}
.fancy2:active {
	color: #3f5187;
}

/*Play around with all the numbers and stuff or change the colours to see
  what matches with what if you are ever unsure.
  
  A fun place to go to: Dabblet.com */
  							